# VS/MAUI/NET
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vsp
*.psess
*.ncb
*.cache
*.dbmdl

# Build results
[Bb]in/
[Oo]bj/
*.appx
*.appxbundle
*.msix
*.msixbundle
*.apk
*.apks
*.aab

# Dependency directories
packages/
node_modules/
AppPackages/
*.log

# Visual Studio Code
.vscode/

# Maui specific
*.tlog
*.vcremote.json
*.vspscc
*.pdb
*.pidb
*.mdb
*.db
*.sdf
*.sqlite
*.sqlite3
*.db3
/platforms/
TestResults/
*.androidproj.user
*.profraw

# Xamarin/MAUI device configs+launches
*.adb
*.keystore
*.pfx
*.cer

# Hot Reload/Maui cache and debug
*.hotreload.cache
*.maui.*

# User secrets
secrets.json
.env

# OS
.DS_Store
Thumbs.db
ehthumbs.db
